.hero {
	min-height: calc(100vh - 115px);
	padding: 24px 0;
	background-color: #ffbc00;
	background-image: url("../../img/space-helmet.png");
	background-repeat: no-repeat;
	background-size: auto 313px;
	background-position: left calc((100vw - 250px) / 2 - 40px) bottom;
}
.hero > div {
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 25px;
	font-family: "Anton";
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	line-height: 1.3;
	text-transform: uppercase;
}
.info {
	max-width: 300px;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.6;
}
.more {
	width: 154px;
	height: 55px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
	border-radius: 16px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: #111111;
}
