.hero {
	min-height: calc(100vh - 115px);
	padding: 24px 0;
	background-color: #ffbc00;
	background-image: url("../../img/space-helmet.png");
	background-repeat: no-repeat;
	background-size: auto 313px;
	background-position: left calc((100vw - 250px) / 2 - 20px) bottom;
}
.hero > div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	margin-bottom: 25px;
	font-family: "Anton";
	font-weight: 400;
	font-size: 42px;
	line-height: 1.3;
	text-transform: uppercase;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.info {
	max-width: 300px;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.6;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.more {
	width: 154px;
	height: 55px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
	border-radius: 16px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	color: #111111;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.arrCont {
	display: none;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) {
	.hero {
		padding-top: calc(136px + ((100vh - 876px) / 2));
		min-height: calc(100vh - 142px);
		background-size: auto 400px;
		background-position: left calc((100vw - 250px) / 2 - 40px) bottom;
	}
	.title {
		margin-bottom: 33px;
		font-size: 68px;
	}
	.info {
		max-width: 560px;
		margin-bottom: 63px;
		font-size: 18px;
	}
	.arrCont {
		display: flex;
		align-items: center;
		transform: rotate(-90deg);
		transform-origin: left top 0;
		position: absolute;
		bottom: 50px;
	}
	.scroll {
		margin-left: 8px;

		font-family: "Ubuntu";
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;

		color: #000000;
	}
	/* .arrow {
	} */
}

@media screen and (min-width: 1200px) {
	.hero {
		min-height: calc(100vh - 142px);
		background-size: auto 647px;
		background-position: left calc(100vw / 2) bottom calc(100vh / 2 - 320px);
	}
	.title {
		position: relative;
		left: calc((100vw - 1200px) / 8 * (-1));
	}
}
