@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@400;500&display=swap");
body {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}
button {
	font-family: inherit;
	cursor: pointer;
	border: none;
}
a {
	text-decoration: none;
}
img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 480px;
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
}
